<table class="table">
    <caption>Customer List</caption>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name <button (click)="sortBy('name')"><i class="fa fa-filter"></i></button>
      </th>
      <th>
        Age <button (click)="sortBy('age')"><i class="fa fa-filter"></i></button>
      </th>
      <th>Action</th>
    </tr>
    @for(item of customerList; track $index){
    <tr>
      <td>
        {{$index+1}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.age}}
      </td>
      <td>
        <button (click)="viewDetails($index)">
          Customer Info
        </button>
      </td>

    </tr>
}@empty { No Data Found}
</table>